# Исполняемые файлы C++
*.exe
*.o
*.obj
matrix_multiply

# Кэш Python
__pycache__/
*.pyc

# Настройки среды разработки (VS Code, CLion и др.)
.vscode/
.idea/

# Игнорируем все автосгенерированные матрицы и результаты по умолчанию
*.txt
benchmark_results/*

# ИСКЛЮЧЕНИЯ: Сохраняем одну папку с примером для демонстрации в репозитории
!benchmark_results/run_N100/
!benchmark_results/run_N100/*.txt
!benchmark_results/benchmark_report.md
!benchmark_results/benchmark_plot.png
